
$correct: rgba(37, 154, 104, 0.2);
$brighterCorrect: rgba(0, 255, 144, 0.8);

.learn-card {
	display: relative;
	margin: 0 auto;
	padding: 1.5em 2em 1.5em 2em;

	.MuiButtonBase-root {
		padding: 0;
	}
}

.card-bottom {
	margin-top: 0.5em;
	p {
		margin: 0;
	}
	.english-word {
		font-size: 16px;
	}
	.english-phrase {
		font-size: 12px;
	}
}

.whole-phrase {
	margin-top: 1em;
}


.word-class {
	margin: 0 0 1em 0;
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0.2em 0.5em;

	svg {
		padding: 0;
		margin: 0 0 0 -5px;
	}
}

.card-input {
	display: inline;
	text-align: center;
	color: white;
}

#card-input {
	background-color: rgba(24, 24, 24, 0.1);
	border-top-right-radius: 0.2rem;
	border-top-left-radius: 0.2rem;
}

#card-input:focus {
	background-color: rgba(24, 24, 24, 0.5);
	border-top-right-radius: 0.2rem;
	border-top-left-radius: 0.2rem;
	border-bottom: 1px solid white !important;
	box-shadow: 0 1px 0 0 white;
}

#correct-input {
	color: $brighterCorrect;
	border-top-right-radius: 0.2rem;
	border-top-left-radius: 0.2rem;
	background-color: $correct;
}

#correct-input:focus {
	border-bottom: 1px solid $correct !important;
	box-shadow: 0 1px 0 0 $correct;
}

.card-status {
	padding: 0;
	margin: -7px 0 -10px 0.5em;
	font-size: 12px;
}

#new-word {
	@extend .card-status;
	color: rgb(255, 148, 79);
}

#new-word-stripe {
	background-color: rgb(255, 148, 79);
}



.stripes {
	display: flex;
}

.stripe {
	background-color: rgb(35, 38, 39);
	height: 0.25rem;
	width: 1rem;
	border-radius: 0.125rem;
	margin: 0 0.125rem;
	transition: background 500ms;
}

.checked {
	background-color: rgb(2, 96, 110);
}

#finished-word {
	@extend .card-status;
	color: $brighterCorrect;
}

.finished-stripe {
	background-color: $brighterCorrect;
}

.icons {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.boy-icons path {
	color: darkslategrey;
}

.girl-icons path {
	color: darksalmon;
}

.neutral-icons svg {
	color: #ffd667;
}

@media only screen and (max-width: 600px) {
	.mobile-width-100 {
		width: 100% !important;
		margin: 0 !important;
	}
}

form {
	padding: 1em;
	max-width: 600px;
	margin: 0 auto;
	
	input {
		color: white;
	}
}

table {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
}