.card-bottom {
	font-size: 12px;
}

.card-bottom p {
	margin: 0;
}

.learn-card {
	display: relative;
	margin: 0 auto;
	padding: 0.5em 1em;
}

@media only screen and (max-width: 600px) {
	.mobile-width-100 {
		width: 100% !important;
		margin: 0 !important;
	}
}
