$correct: rgba(37, 154, 104, 0.2);
$brighterCorrect: rgba(0, 255, 144, 0.8);
$purp: #ce93d8;

// html, .navbar-fixed > * {
// 	max-width: 500px;
// 	margin: 0 auto;
// }

@media only screen and (min-width: 500px) {
	.no-display-mobile {
		display: none !important;
	}
}

.learn-card {
	display: relative;
	margin: 8vh auto 2em auto;
	padding: 1.5em 2em 1.5em 2em;

	.MuiButtonBase-root {
		padding: 0;
	}
}

.card-bottom {
	margin-top: 0.5em;
	p {
		margin: 0;
	}
	.english-word {
		font-size: 16px;
	}
	.english-phrase {
		font-size: 12px;
	}
}

.whole-phrase {
	margin-top: 1em;
}


.word-class {
	margin: 0 0 1em 0;
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0.2em 0.5em;

	svg {
		padding: 0;
		margin: 0 0 0 -5px;
	}
}

.card-input {
	display: inline;
	text-align: center;
	color: white;
}

#card-input {
	background-color: rgba(24, 24, 24, 0.1);
	border-top-right-radius: 0.2rem;
	border-top-left-radius: 0.2rem;
}

#card-input:focus {
	background-color: rgba(24, 24, 24, 0.5);
	border-top-right-radius: 0.2rem;
	border-top-left-radius: 0.2rem;
	border-bottom: 1px solid white !important;
	box-shadow: 0 1px 0 0 white;
}

#correct-input {
	color: $brighterCorrect;
	border-top-right-radius: 0.2rem;
	border-top-left-radius: 0.2rem;
	background-color: $correct;
}

#correct-input:focus {
	border-bottom: 1px solid $correct !important;
	box-shadow: 0 1px 0 0 $correct;
}

.card-status {
	padding: 0;
	margin: -7px 0 -10px 0.5em;
	font-size: 12px;
}

#new-word {
	@extend .card-status;
	color: rgb(255, 148, 79);
}

#new-word-stripe {
	background-color: rgb(255, 148, 79);
}

.card-count {
	font-size: 12px;
	display: flex;
	justify-content: flex-end;
}

.set-count {
	margin-left: 0.3em;
	color: #66bb6a;
}

.progress {
	margin: 0;
}

.stripes {
	display: flex;
}

.stripe {
	background-color: rgb(35, 38, 39);
	height: 0.25rem;
	width: 1rem;
	border-radius: 0.125rem;
	margin: 0 0.125rem;
	transition: background 500ms;
}

.checked {
	background-color: rgb(2, 96, 110);
}

#finished-word {
	@extend .card-status;
	color: $brighterCorrect;
}

.finished-stripe {
	background-color: $brighterCorrect;
}

.icons {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.boy-icons path {
	color: darkslategrey;
}

.girl-icons path {
	color: darksalmon;
}

.neutral-icons svg {
	color: #ffd667;
}

.dashboard {
	padding: 1em;

	.set-count-dash {
		@extend .set-count;
		margin-left: 0.1em;
		color: $purp;
	}
	
	.dash-card {
		.MuiButtonGroup-root {
			margin-bottom: 1em;
			.MuiButtonBase-root {
				font-size: 20px;
			}
		}
		.MuiButtonGroup-root, .MuiButtonGroup-root > * {
			background-color: #121212;
			color: inherit;
			border-color: #121212 !important;
		}
		.card-header {
			font-size: 28px;
			margin-top: -0.4em;
			font-weight: bold;
			color: white;
		}

		.dash-content {
			font-size: 15px;
		}

		.today {
			color: $purp;
			font-size: 20px;
		}
	
		margin: 1em 0;
		padding: 1.5em 1.5em;

		p {
			margin: 0;
		}

		#continue-learning {
			width: 100%;
			font-size: 18px;
		}

		.inner-card {
			padding: 1em;
			margin-bottom: 1em;
			background-color: black;
		}

		div .MuiFormControl-root {

			.MuiFormGroup-root {
				.MuiFormControlLabel-root {
					margin: 0;
					width: (100% / 7);
					
					.checked {
						color: $purp;
					}
				}
			}
		}
	}
}

button:focus {
	background-color: inherit;
}

.MuiBottomNavigation-root {
	.MuiButtonBase-root {
		background-color: black;
		svg {
			font-size: 32px;
		}
	}
	.MuiCircularProgress-root {
		position: absolute;
		bottom: 50%;
	}
}

.bottom-navigation {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translate(-50%);
}

.Mui-selected > * {
	color: $purp;
}

.log-out {
	width: 100%;
}

.profile {
	@extend .dashboard;
}

@media only screen and (max-width: 600px) {
	.mobile-width-100 {
		width: 100% !important;
		margin: 0 !important;
	}
}



form {
	padding: 1em;
	max-width: 600px;
	margin: 0 auto;
	
	input {
		color: white;
	}
}

table {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
}
